<div class="row">
    <div class="col-md-4 offset-4">
        <div class="card guest-form-card">

            <div class=" card-header text-center">
                <h2>Register Here</h2>
            </div>

            <div class="card-body">
                <form [formGroup]="registerForm" (ngSubmit)="register()">
                    <div class="form-group">
                        <label for="inputname3">Name</label>
                        <input type="text" name="name" class="form-control"
                               [ngClass]="{'is-invalid': registerForm.get('name').touched && registerForm.get('name').invalid }"
                               id="inputname3" placeholder="Name" [(ngModel)]="form.name">
                        <span class="invalid-feedback"> Name is required</span>
                    </div>


                    <div class="form-group">
                        <label for="email">Email</label>
                        <input id="email" type="email" class="form-control" name="email"
                               [ngClass]="{'is-invalid': registerForm.get('email').touched && registerForm.get('email').invalid }"
                               formControlName="email" placeholder="Email" [(ngModel)]="form.email">
                        <span class="invalid-feedback">
                            <span *ngIf="registerForm.get('email').hasError('required')"> Email is required</span>
                            <span *ngIf="registerForm.get('email').hasError('email')"> Email must be valid</span>
                        </span>
                        <!--<input type="email" name="email" class="form-control"-->
                               <!--id="inputEmail3" placeholder="Email" [(ngModel)]="form.email" required>-->

                    </div>
                    <!--{{registerForm.get('password').errors | json}}-->
                    <div class="form-group">
                        <label for="password">Confirm Password</label>
                        <input id="password" type="password" class="form-control" name="password"
                               [ngClass]="{ 'is-invalid': registerForm.get('password').touched && registerForm.get('password').invalid }"
                               formControlName="password" placeholder="password" [(ngModel)]="form.password">
                        <span class="invalid-feedback">
                            <span *ngIf="registerForm.get('password').hasError('required')"> Password is required</span>
                            <span *ngIf="registerForm.get('password').hasError('minlength')"> Password must contain minimum 8 characters</span>
                        </span>

                    </div>

                    <div class="form-group">
                        <label for="confirmPassword">Password</label>
                        <input id="confirmPassword" type="password" class="form-control" name="confirmPassword"
                               [ngClass]="{ 'is-invalid': registerForm.get('confirmPassword').touched && registerForm.get('confirmPassword').invalid }"
                               formControlName="confirmPassword" placeholder="confirm password" [(ngModel)]="form.confirmPassword">
                        <span *ngIf="registerForm.get('confirmPassword').hasError('required')"> Passwords must match</span>
                    </div>

                    <button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid">Sign Up</button>
                </form>
            </div>
        </div>

    </div>
</div>
