<p>profile works!</p>

<!--<div class="container">-->
    <!--<div class="dash uno"></div>-->
    <!--<div class="dash dos"></div>-->
    <!--<div class="dash tres"></div>-->
    <!--<div class="dash cuatro"></div>-->
<!--</div>-->

<div class="cooking-div">
    <h1>Cooking in progress..</h1>
    <div id="cooking">
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div id="area">
            <div id="sides">
                <div id="pan"></div>
                <div id="handle"></div>
            </div>
            <div id="pancake">
                <div id="pastry"></div>
            </div>
        </div>
    </div>
</div>
