/* You can add global styles to this file, and also import other style files */
.cart-item{
    font-size: small;
}

.filters{
    font-size: small;
}

.card, .form-control, .btn{
    border-radius: 0;
}

.product-button{
    font-size: smaller;
}

.guest-form-card h2{
    text-transform: uppercase;
    font-size: medium;
}

.guest-form-card label{
    /*text-transform: uppercase;*/
    font-size: small;
}

.btn-primary:disabled {

}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
